
div{
    outline:1px solid lime;
}

body{
    background-color:#FFFFFF;
    margin:0 0 0 0;
}
.header{
    background-color:#FFFFFF;
    height:60px;
    color:#FFFFFF;
    border-bottom:4px solid #e1b3bb;
    position: fixed;
    width:100%;
}
.main {
  padding: 16px;
  margin-top: 0px;
  height: 1200px;
}
.headercontainer{
    max-width:950px;
    height:60px;
    color:#FFFFFF;
    margin-left:auto;
    margin-right:auto;
}
.header img{
    height:50px;
    width:60px;
    margin-top:5px;
    margin-left:10px;
}
.links{
    margin-top:25px;
    font-size:0.95rem;
    float:right;
    color:#000000;
    font-family: 'Lato', sans-serif;
}
.links a{
    color:#000000;
    text-decoration:none;
    padding-left:40px;
    padding-right:40px;
}
.links a:hover{
    color:#e1b3bb;
}

.about{
    background-color:#e1b3bb;
    height:800px;
    width:950px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}
.abouttitle{
    color:#FFFFFF;
    font-family: 'Lato', sans-serif;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    width:400px;
    font-size:50px;
}

.footer{
    background-color:#FFFFFF;
    margin:100px 0 0 0;
    height:200px;
    border-top:4px solid #e1b3bb;
}
.footercontainer{
    background-color:#FFFFFF;
    width:950px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
.footer img{
    height:100px;
    margin-left:400px;
    margin-right:425px;
    margin-top: 25px;
}
.type{
    height:50px;
    width:445px;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.type a{
    color:#000000;
    text-decoration:none;
    padding-left:50px;
    padding-right:50px;
}
.type a:hover{
    color:#e1b3bb;
}