
div{
    outline:0px solid lime;
}

body{
    background-color:#FFFFFF;
    margin:0 0 0 0;
}
.header{
    background-color:#FFFFFF;
    height:60px;
    color:#FFFFFF;
    border-bottom:4px solid #cc1a21;
    position:fixed;
    width:100%;
}
.main {
  padding: 16px;
  margin-top: 0px;
  height: 1000px;
}
.headercontainer{
    max-width:950px;
    height:60px;
    color:#FFFFFF;
    margin-left:auto;
    margin-right:auto;
}
.header img{
    height:50px;
    width:60px;
    margin-top:5px;
    margin-left:10px;
}
.links{
    margin-top:25px;
    font-size:0.95rem;
    float:right;
    color:#000000;
    font-family: 'Lato', sans-serif;
}
.links a{
    color:#000000;
    text-decoration:none;
    padding-left:40px;
    padding-right:40px;
}
.links a:hover{
    color:#cc1a21;
}

.contact{
    background-color:#FFFFFF;
    height:600px;
    width:950px;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
}
.contacttitle{
    color:#000000;
    font-family: 'Lato', sans-serif;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
.spacing{
    margin-bottom: 50px;
}
.spacing1{
    width:100%;
    text-align: center;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    color:#e1b3bb;
    font-size:20px;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #e1b3bb;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #000000;
}

div {
    background-color: #FFFFFF;
}



.footer{
    background-color:#FFFFFF;
    margin:100px 0 0 0;
    height:200px;
    border-top:4px solid #cc1a21;
}
.footercontainer{
    background-color:#FFFFFF;
    width:950px;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
.footer img{
    height:100px;
    margin-left:400px;
    margin-right:425px;
    margin-top: 25px;
}
.type{
    height:50px;
    width:445px;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.type a{
    color:#000000;
    text-decoration:none;
    padding-left:50px;
    padding-right:50px;
}
.type a:hover{
    color:#cc1a21;
}